body{
	margin: 10;
  padding: 10;
  font-size: 25px;
  color: rgb(27, 159, 173);
	font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(90deg,rgb(29, 208, 240) 0%,rgb(192, 162, 247) 74%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img{
  display: none;
}
h1{
	font-size: 6rem;
	color: rgb(27, 159, 173);
  font-weight: bold;
}
.entry1 {
  margin-top: 30px;
}
.entry2 {
  margin-top: 30px;
  margin-left: 15px;
}
#results {
  font-size: 23px;
  color: rgb(22, 131, 143);
}
.btn {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 18%;
}
#results{
  width: 700px;
  padding: 20px;
  margin: 10px;
}